@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #e3f0f9, #f8fafc, #f1f5f9);
}
.logo{
  background: linear-gradient(to right, #2d56ec, #1aacea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
}
.heroSection {
  width: 100%;
}
.heroHeading{
  background: linear-gradient(to right, #2d56ec, #1aacea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #cbd5e1;
}
.navItems a {
  padding: 1rem;
  text-decoration: none;
  color: #64748b;
}
button {
  background: linear-gradient(to right, #2d56ec, #1aacea);
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
 cursor: pointer;
}

.mainSection {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.inputData {
  display: flex;
  gap: 0.8rem;
  color: #f1f5f9;
  padding: 20px;
}
input {
  border: 2px solid #cbd5e1;
  background-color: #f1f5f9;
  color: #94a3b8;
  border-radius: 5px;
  padding: 10px;
}
input::placeholder {
  color: #94a3b8;
}
.enterprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1400px;
  border: 2px solid #cbd5e1;
  border-radius: 20px;
  padding-bottom: 40px;
}

.enterprice .company-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.enterprice .company-item {
  display: flex;
  align-items: center;
}

.enterprice .company-item h3 {
  font-weight: normal;
  margin-left: 0.5rem;
  margin-top: 1.8rem;
}




.features {
  width: 100%;
  
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.titles{
  background: linear-gradient(to right, #2d56ec, #1aacea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 45px;
}

.featurelist {
  display: grid;
  padding: 70px;
  
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust as needed */
}
.integrations{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Integrationlist{
  
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:60px;
}
.profile{
  display: flex;
  
}
.footer{
  padding: 10px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer2{
  display: flex;
  padding: 100px;
  justify-content: space-between;
}
.socials{
  display: flex;
  flex-direction: row;
  gap: 15px;
}